name: Build, test and distribute
on: pull_request

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
      KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
      KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
      KEYSTORE_FILE: ${{ secrets.KEYSTORE_FILE }}
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Show java version
        run: java -version

      - name: Validate checksum gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Gradle cache
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Gradle cache wrapper
        uses: actions/cache@v1
        with:
          path: ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-wrapper
      - name: Write key store
        run: echo $KEYSTORE_FILE | base64 --decode > keystore.jks
      - name: Build & test
        run: ./gradlew testDebug testTstDebug lint assemTstRelease assemAccRelease assemProdRelease bundleProdRelease
      - name: Clean up key store
        if: ${{ always() }}
        run: rm keystore.jks
      - name: Archive apks
        uses: actions/upload-artifact@v2
        with:
          name: apks
          path: |
            holder/build/outputs/apk
            verifier/build/outputs/apk
          retention-days: 5
      - name: Archive bundle
        uses: actions/upload-artifact@v2
        with:
          name: bundle
          path: |
            holder/build/outputs/bundle
            verifier/build/outputs/bundle
          retention-days: 5

  distribute:
    env:
      SLACK_WEBHOOK: ${{ secrets.SLACK_URL }}
      SLACK_MESSAGE: 'New apps available for android :green_heart:'
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_CLI_TOKEN }}
    runs-on: ubuntu-latest
    needs: [ "build-and-test" ]

    steps:
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v2
        with:
          name: apks
          path: apks
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 10.x

      - name: Install firebase-cli
        run: npm install -g firebase-tools
      - name: Distribute holder test variant
        run: |
          firebase appdistribution:distribute `ls apks/holder/build/outputs/apk/tst/release/holder-*.apk` \
          --app 1:168257592968:android:cbb6d05f4163e39026493d \
          --token $FIREBASE_TOKEN \
          --groups testers
      - name: Distribute holder acc variant
        run: |
          firebase appdistribution:distribute `ls apks/holder/build/outputs/apk/acc/release/holder-*.apk` \
          --app 1:168257592968:android:5df6b2057b90a30826493d \
          --token $FIREBASE_TOKEN \
          --groups testers
      - name: Distribute holder prod variant
        run: |
          firebase appdistribution:distribute `ls apks/holder/build/outputs/apk/prod/release/holder-*.apk` \
          --app 1:168257592968:android:aaa5afb416536fdb26493d \
          --token $FIREBASE_TOKEN \
          --groups testers
      - name: Distribute verifier test variant
        run: |
          firebase appdistribution:distribute `ls apks/verifier/build/outputs/apk/tst/release/verifier-*.apk` \
          --app 1:168257592968:android:ed609f228437d86f26493d \
          --token $FIREBASE_TOKEN \
          --groups testers
      - name: Distribute holder acc variant
        run: |
          firebase appdistribution:distribute `ls apks/verifier/build/outputs/apk/acc/release/verifier-*.apk` \
          --app 1:168257592968:android:e9d445c4115a5c9d26493d \
          --token $FIREBASE_TOKEN \
          --groups testers
      - name: Distribute holder prod variant
        run: |
          firebase appdistribution:distribute `ls apks/verifier/build/outputs/apk/prod/release/verifier-*.apk` \
          --app 1:168257592968:android:79363a1282863aac26493d \
          --token $FIREBASE_TOKEN \
          --groups testers
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
